<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Font Awesome Icons -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="css/creative.min.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <!-- Navigation -->
    <%= render 'layouts/navigation' %>
    <!-- Masthead -->
    <header class="masthead">

      <%= image_tag("nube.svg", :style => "position: absolute; left: 1em; top: 6em;") %>
      <%= image_tag("nube.svg", :style => "position: absolute; right: 1em; top: 7em;") %>
      <%= image_tag("nube.svg", :style => "position: absolute; right: 6em; top: 16em;") %>


      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 mb-30 align-self-end">
            <h1 class="text-white font-weight-bold">ninu</h1>
            <h2 class="text-white font-weight-bold">Select your budget, dates and type of trip</h2>
          </div>
          <%= render 'search_form' %>
        </div>
      </div>
    </header>
    <div class="page-section" id="about" style='padding-top: 4rem; padding-bottom: 0'>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8" style='padding: 0'>
            <h4 class="mt-0" style='padding-left: 15px;'>Places close to you</h4>
            <% results = Search.run! %>
            <% results.each do |result| %>
              <div class='text-center'
                   style='background-image: url("<%= result[:img] %>");
                          background-size: cover;
                          width: 100%;
                          height: 250px;'>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 class='text-white'><%= result[:place] %></h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="page-section" id="about" style='padding-top: 0;'>
      <div class="container" style='background-color: #573F8C; color: white; padding-top: 80px; padding-bottom: 80px'>
        <div class="row justify-content-center text-center">
          <div class="col-lg-8">
            <h3 class="mt-0">Discover new and amazing places!</h3>
            <div>
              nuni.com is the platform to find your next trip to unkwown and great cities. Big cities, small cities, with mountains or with beach, for adventurous or romantic. The world is yours!
            </div>
            <br>
            <h5 class="mt-0 text-center">Be <span style='font-weight: bold'>nuni</span>que!</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Section -->
    <footer class="bg-light py-5">
      <div class="container">
        <div class="small text-center text-muted">Copyright &copy; 2019 - ninu</div>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <!-- Plugin JavaScript -->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->
    <!-- Custom scripts for this template -->
    <!-- <script src="js/creative.min.js"></script> -->
  </body>
</html>
