<div class='container'>
  <div class='row'>
    <div class='col-3 align-items-center justify-content-center text-center'>
      <div style='margin-top: 10px; font-size: 20px; color: #199B90;'>
        <%= fa_icon SearchController::ICONS[option[:type]] %><br>
        <%= option[:type].capitalize %>
      </div>
    </div>
    <div class='col-5' style='padding-left: 0; padding-right: 0;'>
      <div style='font-size: 18px;'>
        <%= option[:price] %>€
      </div>
      <div style='font-size: 14px;'>
        <%= option[:time] || '1:00' %> hour trip
      </div>
      <div style='font-size: 14px;'>
        <% max_star_score = co2s.uniq.count %>
        <% star_score = co2s.sort.reverse.index(option[:co2]) %>
        CO₂ score <%= '⭐' * (5 - max_star_score) %><%= '⭐' * (star_score + 1) %>
      </div>
    </div>
    <div class='col-4' style='padding-left: 0; padding-right: 0px;'>
      <div style='margin-top: 10px;'>
        <%= link_to 'Select', '#', class: 'btn btn-primary btn-lg', style: 'float: right;' %>
      </div>
    </div>
  </div>
</div>
<hr>
