<div class='result'
     data-toggle="collapse"
     data-target="#collapse-<%= result[:place] %>"
     aria-expanded="false"
     aria-controls="collapseExample"
     style='background-image: url("<%= result[:img] %>"), linear-gradient(rgba(2, 0, 3, 0.82) 0%, rgba(57, 21, 80, 0));'>
  <div class='text-white' style='font-size: 18px'>
    <div class='container'>
      <div class='row' style='padding-top: 5px;'>
        <div class='col-6' style='padding-left: 10px;'>
          <div class='badge' style='background-color: <%= SearchController::TYPE_COLOR[result[:type]] %>'>
            <%= result[:type].downcase %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class='text-white' style='font-size: 23px; padding-top: 10px;'>
    <div class='container'>
      <div class='row'>
        <div class='col-6' style='padding-left: 10px;'>
          <%= result[:place] %>
        </div>
        <div class='col-6' style='padding-right: 10px; text-align: right;'>
          from <%= (result[:options].sum{|option| option[:price]} / result[:options].count).round(0) %>€
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse" id="collapse-<%= result[:place] %>" style='margin-bottom: 10px;'>
  <% co2s = result[:options].map{|option| option[:co2]} %>
  <% result[:options].each do |option| %>
    <%= render partial: 'option', locals: { option: option, co2s: co2s } %>
  <% end %>
</div>
